<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.slingapp.urlscheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sling</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.364542331003-7vu0j7cef4p1j76lc51pp5bd7cm6h1po</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.364542331003-7vu0j7cef4p1j76lc51pp5bd7cm6h1po</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.carsoncohen.SlingApp</string>
	<key>CFBundleDisplayName</key>
	<string>Sling</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
</dict>
</plist>
